
/* Seccion Arriba 1 */
    #SeccionArriba{
        border-style: solid;
        display: flex;
        justify-content: space-between;
        background-color: rgb(158, 231, 255);
        margin-bottom: 1%;
    }

    #SeccionArriba img{
        display: flex;
        float: left;
        height: 22%;
        width: 12%;
        max-width: 150px;
        max-height: 300px;
        margin-left: 2%;

    }

    #SeccionArriba h1{
        display: flex;
        float: left;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 260%;
    }

    #SeccionArriba p{
        display: flex;
        align-self: flex-start;
        margin: 1%;
    }
/* FIN Seccion arriba 1*/

/* Seccion de Arriba 2 */
    #SeccionArriba2{
        border-style: solid;
        display: flex;
        justify-content: space-between;
        background-color: rgb(192, 252, 132);
    }

    #SeccionArriba2 img{
        display: flex;
        float: left;
        height: 22%;
        width: 12%;
        max-width: 150px;
        max-height: 300px;
        margin: 2%;
        background-color: rgb(190, 234, 255);
        padding: 1%;

    }

    #SeccionArriba2 h1{
        display: flex;
        justify-self: center;
        margin: auto;
        /* background: lightcoral; */
        padding: auto;
        font-size: 300%;
    }
        /* Gestion Usuarios */

        #GestionUsuarios {
            display: flex;
            /* align-self: center; */
            margin: 1%;
            flex-direction: column;
            width: 18%;
            height: 18%;
            max-width: 13em;
            padding: 0.5em;
            background-color: rgb(233, 199, 177);
        }
        #NomUsua {
            display: flex;
            margin: 0%;
            padding: 0%;
            border-style: dotted;
            margin-left: 20%;
            margin-right: 20%;
            /* height: 5%; */
            background-color: chocolate;
        }

        #NomUsua p{
            display: flex;
            margin: 0%;
            margin-left: auto;
            margin-right: auto;
            /* width: 30%; */
            font-size: 150%;
            /* align-self: center; */
        }
        .BotonDesconectarse{
            display: flex;
            margin: 5%;
            align-self: center;
            /* background-color: aqua; */
        }
        .tituloOpciones {
            display: flex;
            margin-bottom: 0%;
            margin-top: 10%;
            margin-left: 20%;
            /* background-color: chocolate; */
        }
        #OpcUsuario{
            display: flex;
            /* align-self: center; */
            margin: auto;
            /* background-color: blueviolet; */
        }

        #OpcUsuario p {
            display: flex;
            margin: 2%;
        }
    /* FIN Gestion Usuarios */
/* FIN Seccion de Arriba 2 */

/* MENÚ desplegable */
    #MenuSeleciones ul{
        list-style: none;
        margin-top: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        
    }

    /* items del menu */
    #MenuSeleciones ul li{
        background-color: pink;
        
        
    }
    /* enlaces del menu */
    #MenuSeleciones ul a{
        display: block;
        color: rgb(78, 48, 7);
        text-decoration: none;
        font-weight: 400;
        font-size: medium;
        padding: 10px 80px;
        letter-spacing: 1px;
    }

    /* items del menu */
    #MenuSeleciones ul li{
        position: relative;
        float: center;
        margin: 0%;
        padding: 0%;
    }

    /* efecto al pasar el ratón por los items del menu */
    #MenuSeleciones ul li:hover{
        background: #bdd0ee;
    }
    /* menu desplegable */
    #MenuSeleciones ul ul{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #eee;
        padding: 0%;
    }
    /* items del menu desplegable */
    #MenuSeleciones ul ul li{
        float: none;
        width: 300px;
    }

    /* enlaces de los items del menu desplegable */
    #MenuSeleciones ul ul a{
        line-height: 120%;
        padding: 10px 16px;
    }

    /* items del menu desplegable al pasar el ratón */
    #MenuSeleciones ul li:hover > ul{
        display: block;
    }
    
/* FIN MENÚ desplegable */

/* Parte de abajo */
    #Partedeabajo{
        display: flex;
        border-style: solid;
        background-color: rgb(255, 201, 100);
        /* text-align: center; */
        justify-content: center;
        font-size: x-large;
        margin: auto 2%;
        padding: auto;
    }
    #Partedeabajo a,
    #Partedeabajo p{
        /* display: flex; */
        margin-left: 1%;
        margin-right: 1%;
        /* align-self: center; */
        margin-top: auto;
        margin-bottom: auto;
        margin: 0.5% 2% 0.5% 3%;

    }
/* FIN Parte de abajo */

/* Centro */
#Centro{
    display: flex;
    border-style: groove;
    margin: 2%;  
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    padding: 1%;
}

.basededatos{
    background-color: rgb(178, 217, 243);
}
.recurso{
    background-color: moccasin;
}
.usuario{
    background-color: rgb(250, 194, 194);
}
.seccion{
    background-color: rgb(234, 194, 250);
}

#Centro h1{
    display: flex;
    margin: auto;
    /* align-self: center; */
    /* margin-top: 1%;
    margin-bottom: 0%; */

}

#Centro form{
    display: flex;
    margin:  2% auto;
    /* align-self: center; */
    flex-direction: column;
    width: 30%;
}

#Botonera{
    display: flex;
    /* justify-self: center; */
    margin: 2% auto 1% auto;

}
#Botonera input{
    font-size: x-large;
}

/* FIN Centro */